<section class="col-md-10 text-end p-1">
<p><small>
{{metadata.copyrights.text1}} <a href="{{metadata.copyrights.text2_link}}" class="text-white icon-link">{{metadata.copyrights.text2}}</a> {{metadata.copyrights.text3}} <a href="{{metadata.copyrights.text4_link}}" class="text-white icon-link">{{metadata.copyrights.text4}}</a>
</small></p>
</section>
